.adoption-section {
  background-color: var(--dark-green);
  color: var(--white);
  padding: 20px 0;
  /* max-width: 1200px; */
  width: 100%; /* línea añadida */
  margin: 0 auto; /* linea añadida */
}

.animal-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}


