.animal-main {
    display: grid;
    height: 45rem;
    background-color: var(--dark-green);

}

.animal {
  display: flex;
  align-items: center;
  place-items: start;
  gap: 50px;
  color: var(--white);
}

.animal-parrafo {
  padding: 0;
}

.animal-image {
  width: 20rem;
  height: auto;
}

.animal-button {
    background-color: var(--white);
    color: var(--green);
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.animal-info {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

@media (max-width: 768px) {
  article {
    flex-direction: column;
    gap: 20px;
  }
}